files:
  "C:\\tools\\get-beanstalk-load-balancer.ps1":
    content: |
      $InstanceID = (Invoke-WebRequest http://169.254.169.254/latest/meta-data/instance-id -UseBasicParsing).Content
      $ELBs = (Get-ELBLoadBalancer -Region us-east-1)

      echo $InstanceID | Out-File C:\tools\EC2InstanceID.dat

      foreach($LB in $ELBs) {
        foreach($instance in $LB.Instances) {
          if($instance.InstanceId -eq $InstanceID) {
            echo $LB.DNSName.toString() | Out-File C:\tools\BeanstalkELBDNSName.dat
            break
          }
        }
      }

container_commands:
  01_get_beanstalk_load_balancer:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\tools\\get-beanstalk-load-balancer.ps1
    waitAfterCompletion: 0


