files:
  "C:\\tools\\ewmp.cmd":
    content: |
      @ECHO OFF
      FOR /F "tokens=3,*" %%a IN ('REG QUERY "HKLM\System\CurrentControlSet\Control\Session Manager\Environment" /v PATH') DO PATH %%a%%b
      %*

  "C:\\tools\\install-etcd.bat":
    content: |
      C:\\tools\\ewmp choco install -y etcd --params="--proxy on --listen-client-urls http://127.0.0.1:4001 --discovery-srv vtexlab.com.br"

commands:
  01_install_etcd:
    command: C:\\tools\\install-etcd.bat
    waitAfterCompletion: 0

  02_stop_etcd:
    command: C:\\tools\\ewmp net stop etcd
    ignoreErrors: true
    waitAfterCompletion: 0

  03_start_etcd:
    command: C:\\tools\\ewmp net start etcd
    waitAfterCompletion: 0


