files:
  "C:\\tools\\handle-permissions.ps1":
    content: |
      $directory = "C:\\tools"
      $user = "NT AUTHORITY\NETWORK SERVICE"

      $Acl = Get-Acl $directory
      $Ar = New-Object System.Security.AccessControl.FileSystemAccessRule($user, "FullControl", "ContainerInherit,ObjectInherit", "None", "Allow")
      $Acl.SetAccessRule($Ar)
      Set-Acl $directory $Acl

container_commands:
  01_handle_permissions:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\tools\\handle-permissions.ps1
    waitAfterCompletion: 0

