files:
  "C:\\tools\\etcd-connector.ps1":
    content: |
      Try {
        Invoke-WebRequest http://localhost:4001/v2/keys
      } Catch [system.exception] {
        echo "Etcd connection failed. Retrying to connect..."
        & "C:\tools\ewmp" net stop etcd
        & "C:\tools\ewmp" choco uninstall -y etcd
        & "C:\tools\ewmp" choco install -y etcd --params="--proxy on --listen-client-urls http://127.0.0.1:4001 --discovery-srv vtexlab.com.br"
        & "C:\tools\ewmp" net start etcd
      }


  "C:\\tools\\schedule-etcd-connector.ps1":
    content: |
      $taskname = "Etcd Connector"
      $script = "C:\tools\etcd-connector.ps1"
      $action = New-ScheduledTaskAction -Execute "$pshome\powershell.exe" -Argument "$script"
      $principal = New-ScheduledTaskPrincipal -UserId "NT AUTHORITY\NETWORK SERVICE" -LogonType ServiceAccount -RunLevel Highest
      $repeat = (New-TimeSpan -Minutes 1)
      $duration = ([timespan]::maxvalue)
      $trigger = New-ScheduledTaskTrigger -Once -At (Get-Date).Date -RepetitionInterval $repeat -RepetitionDuration $duration
      $settings = New-ScheduledTaskSettingsSet -DontStopOnIdleEnd
      Register-ScheduledTask -TaskName $taskname -Action $action -Trigger $trigger -Principal $principal


container_commands:
  01_unschedule_etcd_connector_task:
    command: Unregister-ScheduledTask -TaskName "Etcd Connector" -Confirm:$false
    ignoreErrors: true
    waitAfterCompletion: 0


  02_schedule_etcd_connector_task:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\tools\\schedule-etcd-connector.ps1
    waitAfterCompletion: 0


