files:
 "c:\\iis-log-removal\\iis-log-removal.ps1":
  content: |
   $iisLogPath = $env:SystemDrive + "\inetpub\logs\LogFiles\"
   # Define logFilesTimeToLiveInHours with your desired value
   $logFilesTimeToLiveInHours = 6
   # Get Files older than $logFilesTimeToLiveInHours
   $filesToDelete = Get-ChildItem $iisLogPath -recurse | Where { [DateTime]::Now - $_.LastWriteTime -gt [TimeSpan]::FromHours($logFilesTimeToLiveInHours) }| Where-Object {$_.Extension -eq '.log'} | % {$_.FullName}
   Remove-Item $filesToDelete
  encoding : plain

container_commands:
 01_enable_log:
  command: AppCmd.exe set config -section:system.applicationHost/sites /siteDefaults.logFile.enabled:"True" /commit:apphost
  cwd: c:\windows\system32\inetsrv
  waitAfterCompletion: 0

 02_configure_log_format:
  command: appcmd.exe set config -section:system.applicationHost/sites /siteDefaults.logFile.logFormat:"IIS"
  cwd: c:\windows\system32\inetsrv
  waitAfterCompletion: 0

 03_configure_log_hourly:
  command: appcmd.exe set config -section:system.applicationHost/sites /siteDefaults.logFile.period:"Hourly"
  cwd: c:\windows\system32\inetsrv
  waitAfterCompletion: 0

 04_schedule_iis_removal-task:
  command: schtasks /CREATE /TN "iis-log-removal" /TR "powershell.exe -noprofile -executionpolicy Unrestricted -file c:\\iis-log-removal\\iis-log-removal.ps1" /IT /RL HIGHEST /SC MINUTE  /RU System /MO 20 /k /F
  waitAfterCompletion: 0
